Flask_Cors==3.0.2
Flask_HTTPAuth==3.2.2
matplotlib==1.5.1
numpy==1.11.0
redis==2.10.5
Cython==0.25.2
pyOpenSSL==17.0.0
backports.functools_lru_cache==1.3
certifi==2017.4.17
charade==1.0.3
Flask_And_Redis==0.7
Genshi==0.7
ipaddr==2.1.11
java==0.0.1
lxml==3.7.3
ndg_httpsclient==0.4.2
netCDF4==1.2.7
ordereddict==1.1
org==1.0.0
pyasn1==0.2.3
setuptools_svn==1.2
simplejson==3.10.0
wincertstore==0.2
